@using Microsoft.AspNetCore.Identity;
@using ModernRecrut.MVC.Areas.Identity.Data;
@using ModernRecrut.MVC.Interfaces;
@inject UserManager<Utilisateur> _userManager
@inject IOffreEmploisService _offreEmploisService;
@model ModernRecrut.MVC.Models.Postulation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Postulation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Nom du Candidat</label>
                <input type="hidden" asp-for="CandidatId" />
                <p>
					@{ Utilisateur candidat = await _userManager.FindByIdAsync(Model.CandidatId);}
					@Html.DisplayFor(model => candidat.NomComplet)
                </p>
            </div>
            <div class="form-group">
                <label asp-for="offreDEmploiId" class="control-label"></label>
                <input asp-for="offreDEmploiId" class="form-control" />
                <span asp-validation-for="offreDEmploiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PretentionSalariale" class="control-label"></label>
                <input asp-for="PretentionSalariale" class="form-control" />
                <span asp-validation-for="PretentionSalariale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDisponibilite" class="control-label"></label>
                <input asp-for="DateDisponibilite" class="form-control" />
                <span asp-validation-for="DateDisponibilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
